<div class="page-container">
    <h1 class="page-title">Available Tests</h1>
    <div class="test-list-container">
      <ul class="test-list">
        <li *ngFor="let test of tests" class="test-list-item">
          <div class="test-info">
            <h3>{{ test.testName }}</h3>
            <p *ngIf="test.description">{{ test.description }}</p>
          </div>
          <button class="view-test-button" (click)="viewTest(test.id)">View Test</button>
        </li>
      </ul>
      <div class="create-button-container">
        <button class="create-test-button" (click)="createTest()">
          <span class="plus-icon">+</span>
        </button>
        <span class="create-text">Create New Test</span>
      </div>
    </div>
  </div>
  