<mat-nav-list>
  <img src="assets/logo.png" alt="Logo" class="logo">
  <a mat-list-item routerLink="/">Home</a>
  <a mat-list-item routerLink="/subject-wise-questions">Subject Wise Questions</a>
  <a mat-list-item routerLink="/topic-wise-questions">Topic Wise Questions</a>
  <a mat-list-item routerLink="/exam-wise-questions">Exam Wise Questions</a>
  <a mat-list-item routerLink="/add-question">Add Question</a>
  <a mat-list-item routerLink="/quiz/test/createtest">CreateTest</a>
  <a mat-list-item routerLink="/test-exam">Create-Test-Exam</a>

  <a mat-list-item routerLink="/quiz/test">Quiz</a>
  <!-- <a mat-list-item routerLink="/users">Users</a>
  <a mat-list-item routerLink="/quiz/test">Tests</a> -->
  <a mat-list-item routerLink="/quiz/questions/test/1">Questions for Test 1</a> <!-- Update testId as needed -->
  <a mat-list-item routerLink="/quiz/result">Results</a>
</mat-nav-list>
